services:
  db:
    image: postgres:16-alpine
    hostname: db
    container_name: db
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql:ro
    env_file:
      - .env
    ports:
      - ":5432"
    restart: always

  bot:
    container_name: bot
    build: .
    env_file:
      - .env
    depends_on:
      - db
